QUERIE 1

In [ ]:
querie = '''SELECT DISTINCT Persona.Nombre_persona
FROM Persona
INNER JOIN Participa ON Persona.Nombre_persona = Participa.Nombre_persona
ORDER BY Persona.Nombre_persona;'''

QUERIE 2

In [ ]:
querie = '''SELECT COUNT(*) AS Total_Juegos
FROM Juego_Mesa;'''

QUERIE 4

In [ ]:
querie = '''SELECT *
FROM Partida
WHERE Fecha BETWEEN '2023-01-01' AND '2023-01-30'
ORDER BY Fecha, Hora;'''

QUERIE 5

In [ ]:
querie = '''SELECT DISTINCT Juego_Mesa.Nombre_juego, Expansion.Nombre_expansion
FROM Juego_Mesa
LEFT JOIN Partida ON Juego_Mesa.Nombre_juego = Partida.Nombre_juego
LEFT JOIN Utiliza ON Partida.ID_partida = Utiliza.ID_partida
LEFT JOIN Expansion ON Utiliza.Nombre_expansion = Expansion.Nombre_expansion
ORDER BY Juego_Mesa.Nombre_juego;'''

QUERIE 6

In [ ]:
querie = '''SELECT Partida.ID_partida, Partida.Fecha, Partida.Hora, 
Partida.Nombre_juego, Partida.Resultado, Partida.Supervisor
FROM Partida
ORDER BY Partida.Fecha, Partida.Hora;'''