QUERIE 1

In [ ]:
querie = '''SELECT DISTINCT Persona.Nombre_persona
FROM Persona
INNER JOIN Participa ON Persona.Nombre_persona = Participa.Nombre_persona
ORDER BY Persona.Nombre_persona;'''

QUERIE 2

In [ ]:
querie = '''SELECT COUNT(*) AS Total_Juegos
FROM Juego_Mesa;'''

QUERIE 4

In [ ]:
querie = '''SELECT *
FROM Partida
WHERE Fecha BETWEEN '2023-01-01' AND '2023-01-30'
ORDER BY Fecha, Hora;'''

QUERIE 5

In [ ]:
querie = '''SELECT DISTINCT Juego_Mesa.Nombre_juego, Expansion.Nombre_expansion
FROM Juego_Mesa
LEFT JOIN Partida ON Juego_Mesa.Nombre_juego = Partida.Nombre_juego
LEFT JOIN Utiliza ON Partida.ID_partida = Utiliza.ID_partida
LEFT JOIN Expansion ON Utiliza.Nombre_expansion = Expansion.Nombre_expansion
ORDER BY Juego_Mesa.Nombre_juego;'''

QUERIE 6

In [ ]:
querie = '''SELECT Partida.ID_partida, Partida.Fecha, Partida.Hora, 
Partida.Nombre_juego, Partida.Resultado, Partida.Supervisor
FROM Partida
ORDER BY Partida.Fecha, Partida.Hora;'''

QUERIE 8

In [ ]:
querie = '''SELECT Supervisor
FROM club_videojuegos.Partida
GROUP BY Supervisor
HAVING COUNT(DISTINCT Nombre_juego) > 3;'''

QUERIE 9

In [ ]:
querie = '''SELECT Nombre_persona
FROM club_videojuegos.Participa
GROUP BY Nombre_persona
ORDER BY COUNT(ID_partida) DESC
LIMIT 1;
'''

QUERIE 12

In [ ]:
querie = '''SELECT Supervisor
FROM club_videojuegos.Partida
JOIN club_videojuegos.Utiliza ON Partida.ID_partida = Utiliza.ID_partida
JOIN club_videojuegos.Copia_Expansion ON Utiliza.ID_copia_expansion = Copia_Expansion.ID_copia_expansion
WHERE Partida.Supervisor IS NOT NULL
GROUP BY Supervisor, Partida.ID_partida
HAVING SUM(CASE WHEN Utiliza.Nombre_expansion = 'Modo Blitz' THEN 1 ELSE 0 END) > 0
   AND SUM(CASE WHEN Utiliza.Nombre_expansion = 'Edici√≥n Limitada' THEN 1 ELSE 0 END) = 0; '''

QUERIE 13

In [ ]:
querie = '''SELECT DISTINCT Participa.Nombre_persona
FROM club_videojuegos.Participa
JOIN club_videojuegos.Partida ON Participa.ID_partida = Partida.ID_partida
WHERE Partida.Nombre_juego = 'Catan'
AND Participa.Nombre_persona IN (
    SELECT Nombre_persona
    FROM club_videojuegos.Participa
    JOIN club_videojuegos.Partida ON Participa.ID_partida = Partida.ID_partida
    WHERE Partida.Nombre_juego = 'Ticket to Ride'
)
ORDER BY Participa.Nombre_persona; '''

QUERIE 15

In [ ]:
querie = '''SELECT DISTINCT Participa.Nombre_persona
FROM club_videojuegos.Participa
JOIN club_videojuegos.Partida ON Participa.ID_partida = Partida.ID_partida
JOIN club_videojuegos.Utiliza ON Partida.ID_partida = Utiliza.ID_partida
JOIN club_videojuegos.Copia_Expansion ON Utiliza.ID_copia_expansion = Copia_Expansion.ID_copia_expansion
WHERE Partida.Nombre_juego = 'Ajedrez'
GROUP BY Participa.Nombre_persona, Partida.ID_partida
HAVING SUM(Copia_Expansion.Precio_copia_expansion) < 55; '''